<!DOCTYPE HTML>
<html>
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="0; <%= query.url %>"> 
<head>
	<!-- Twitter Card -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="<%= query.url %>">
	<meta name="twitter:title" content="<%= query.title %>">
	<meta name="twitter:description" content="<%= query.description %>">
	<meta name="twitter:image" content="<%= query.image_url %>">
	<meta name="twitter:image:alt" content="<%= query.image_alt %>">

	<!-- Open Graph data (Facebook) -->
	<meta property="og:title" content="<%= query.title %>">
	<meta property="og:url" content="<%= query.image_url %>">
	<meta property="og:type" content="website">
	<meta property="og:description" content="<%= query.description %>">
	<meta property="og:image" content="<%= query.image_url %>">
	<meta property="og:image:alt" content="<%= query.image_alt %>">
	
	<link href="/static/site.css" rel="stylesheet">
	<title>Add social card info to an url</title>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', 'UA-107710384-1');
	</script>
<body>
	<div class="navbar"></div>
	<div class="container">
		<h1>Adding social card info to url: <a href="<%= query.url %>"><%= query.url %></a>...</h1>
	</div>
